<!doctype html>
<html lang="en-US">
<head>
  <title>Todo App</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans">
  <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/application.js"></script>
</head>
<body>
<header>
  <h1>Todo Tracker</h1>
  <div class="actions">
    <%== yield_content :header_links %>
  </div>
</header>
<% if session[:success] %>
  <p class="flash success"><%= session.delete(:success) %></p>
<% end %>

<% if session[:error] %>
  <p class="flash error"><%= session.delete(:error) %></p>
<% end %>

<main>
  <%== yield %>
</main>
</body>
</html>
